=media-break-sm
  @media screen and (max-width: 320px)
    @content

=media-break-md
  @media screen and (max-width: 500px)
    @content

.centered-container
  width: 500px
  margin: .5em auto
  padding: 10px
  border: 1px solid #ccc
  border-radius: 5px
  background: #eee
  box-sizing: border-box

  +media-break-md
    width: 100vmin
    box-sizing: border-box

  +media-break-sm
    width: 320px

=button-arrow-horizontal($direction)
  position: absolute
  top: 0
  content: " "
  border-top: 1em solid transparent
  border-bottom: 1em solid transparent
  @if $direction == "left"
    left: -10px
    border-right: 10px solid $next_prev_color
  @else
    right: -10px
    border-left: 10px solid $next_prev_color

body
  margin: 0
  padding: 0
  font-family: sans-serif

#header
  display: flex

  +media-break-sm
    padding: 9px

.header-block
  display: inline-block
  line-height: 2em

  &.left
    flex: 1

  &.center
    flex: 2
    text-align: center

  &.right
    flex: 1
    text-align: right

#move-count
  font-size: .75em

$next_prev_color: #ddd

#level-btn
  position: relative
  background: $next_prev_color
  height: 2em
  border: none

#level-btn
  margin-left: 10px

  &:before
    +button-arrow-horizontal(left)

#gameboard
  line-height: 0
  text-align: center

  +media-break-md
    height: 100vmin
    padding: 2vmin

  +media-break-sm
    height: 320px
    padding: 9px

@import tiles




.house:after, .factory:after
  position: absolute
  display: block
  content: ""
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-image: url(img/sprite.png)

.house:after
  background-position: -100px -400px

.factory:after
  background-position: 0 -400px
