=centered-container()
  width: 510px
  margin: .5em auto
  padding: 1em
  border: 1px solid #ccc
  border-radius: 5px
  background: #eee

=button-arrow-horizontal($direction)
  position: absolute
  top: 0
  content: " "
  border-top: 1em solid transparent
  border-bottom: 1em solid transparent
  @if $direction == "left"
    left: -10px
    border-right: 10px solid $next_prev_color
  @else
    right: -10px
    border-left: 10px solid $next_prev_color

#header
  +centered-container()
  height: 2em

$next_prev_color: #ddd

#prev-level, #next-level
  position: relative
  background: $next_prev_color
  height: 2em
  border: none

#prev-level
  float: left
  margin-left: 10px

  &:before
    +button-arrow-horizontal(left)

#next-level
  float: right
  margin-right: 10px

  &:after
    +button-arrow-horizontal(right)

#gameboard
  +centered-container()
  line-height: 0

.tile
  display: inline-block
  position: relative
  border: 1px solid #ccc
  width: 100px
  height: 100px
  background: #7f7f7f
  // background-image: url(img/sprite.png)

  div
    position: absolute

  &[data-power="0"] div
    background: #c3c3c3

  &[data-power="1"] div
    background: #fff200
    box-shadow: 0 0 10px 0 rgba(255, 242, 0, 1)

.tile[data-layout="I"] 
  div:first-child
    top: 0
    left: 40%
    width: 20%
    height: 100%

  div:last-child
    display: none


.tile[data-layout="L"]
  div:first-child
    top: 0
    left: 40%
    width: 20%
    height: 60%

  div:last-child
    top: 40%
    left: 60%
    width: 40%
    height: 20%

.tile[data-layout="O"]
  div:first-child
    top: 0
    left: 40%
    width: 20%
    height: 60%

  div:last-child
    display: none

.tile[data-layout="T"]
  div:first-child
    top: 0
    left: 40%
    width: 20%
    height: 100% 

  div:last-child
    top: 40%
    left: 60%
    width: 40%
    height: 20%

.tile[data-rotation="90"]
  transform: rotate(90deg)
.tile[data-rotation="90"]:after
  transform: rotate(-90deg)

.tile[data-rotation="180"]
  transform: rotate(180deg)
.tile[data-rotation="180"]:after
  transform: rotate(-180deg)

.tile[data-rotation="270"]
  transform: rotate(270deg)
.tile[data-rotation="270"]:after
  transform: rotate(-270deg)

.house:after, .factory:after
  position: absolute
  display: block
  content: ""
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-image: url(img/sprite.png)

.house:after
  background-position: -100px -400px

.factory:after
  background-position: 0 -400px