.tile {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
  background-image: url(sprite.png);
}
.tile[data-layout="I"] { background-position: 100px 0; }
.tile[data-layout="I"][data-power="0"] { background-position: 0 0; }
.tile[data-layout="L"] { background-position: 100px -100px; }
.tile[data-layout="L"][data-power="0"] { background-position: 0 -100px; }
.tile[data-layout="O"] { background-position: 100px -200px; }
.tile[data-layout="O"][data-power="0"] { background-position: 0 -200px; }
.tile[data-layout="T"] { background-position: 100px -300px; }
.tile[data-layout="T"][data-power="0"] { background-position: 0 -300px; }
.tile[data-rotation="90"] { transform: rotate(90deg); }
.tile[data-rotation="180"] { transform: rotate(180deg); }
.tile[data-rotation="270"] { transform: rotate(270deg); }
.tile[data-rotation="90"]:after { transform: rotate(-90deg); }
.tile[data-rotation="180"]:after { transform: rotate(-180deg); }
.tile[data-rotation="270"]:after { transform: rotate(-270deg); }
.house:after, .factory:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(sprite.png);
}
.house:after { background-position: -100px -400px; }
.factory:after { background-position: 0 -400px; }
